* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epunda Slab", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    opacity: 2;
    background-color: #F7D9E3;
    padding: 0 2rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
}

.div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.div-logo {
    display: flex;
    margin: 0 10px;
    color: #222222;
    text-decoration: none;

    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.5rem;
    padding: 0 20px 5px 0;
}

.div-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.ul-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
}

.li-link {
    text-decoration: none;
    color: #222222;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0 5px;
}

.li-link:hover {
    cursor: pointer;
    transition: 0.8s;
    color: rgb(164, 0, 55);
}

main {
    min-height: 600px;
    padding: 0 50px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9CDE7;
}

.div-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.div-home {
    text-align: start;
}

.p-home {
    font-size: 2rem;
    font-weight: bold;
}

span {
    color: #F7D9E3;
}

.img-home {
   box-shadow: 0 0.25rem 3rem #8b0b64;
    transition: all 0.8s ease;
    max-width: 350px;
    border-radius: 25px;
}



.section-trajetoria {
    padding: 7rem 0;
    margin: 0 auto;
    height: 100%;
    background-color: #FAFAFA;
}


.div-trajetoria {
    padding: 2.5rem 3rem;
    margin: 0 auto;
    min-height: 600px;
    background-color: #FAFAFA;
}

.h1-trajetoria {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
     color: #A9CDE7;
}

.p-trajetoria {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9E9E9E;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px 150px 30px 150px;
}

.section-skills {
    padding: 3em 3rem;
    margin: 0 auto;
    min-height: 600px;
    background-color: #FAFAFA;
}

.div-skills {
    text-align: center;
    margin: 0 auto 5rem;
    padding: 0 3rem;
}

.h1-skills {
    font-size: 3.5rem;
    font-weight: bold;
    color: #A9CDE7;
}

.div-cards-skills {
    display: grid;
    margin: 0 300px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

.div-cards-skills:hover {
    color: #9E9E9E;
}

.div-card {
    background: #F7D9E3;
      border-radius: 10px 10px 0 0;
      padding: 20px;
      text-align: center;
      position: relative;
      transition: transform 0.8s;
}

.div-card:hover {
    background-color: #A9CDE7;
    color: #F7D9E3;
    box-shadow: 0 0.25rem 4rem #021544;
}

.div-card::after {
    content: "";
      display: block;
      height: 4px;
      background: linear-gradient(90deg, #7b2ff7, #f107a3);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 10px;
      }

.div-img {
    height: 20px;
}

.imagem-skills {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    transform: translateY(-3.5rem);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.div-card:hover .div-img {
    transform: translateY(-4rem) scale(1.1) rotate(10deg);
}

.div-text-card-skills {
    padding: 1rem;
    text-align: center;
    color:#9E9E9E;
}

.h1-card-skills {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    margin: 30px auto;
}

.div-text-card-skills:hover {
    color: #FAFAFA;
}

.section-projetos {
    padding: 2.5rem 3rem;
    margin: 0 auto;
    min-height: 600px;
    background-color: #FAFAFA;
}

.h1-projetos {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.div-todos-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.card-projeto:hover {
    background-color: #1A2B4C;                         
    color: #dad7d7;                           
    box-shadow: 0 0.25rem 4rem #A9CDE7;
}

.imagem-projeto img {
    width: 100%;
    height: auto;
}

.div-explicacao-projeto {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0 0;
}

.description.open {
    max-height: 1000px;
    padding: 10px 0;
}

.h1-projetos {
    font-size: 50px;
    font-weight: bold;
    margin: 80px 150px 80px 150px;
    display: flex;
    justify-content: center;
    color: #A9CDE7;
}

.h1-titulo-projeto {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
     color: #A9CDE7;
    }

.botao-projeto {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-saiba-mais {
    border-radius: 20px;
    background-color: #A9CDE7;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    color: #222222;
}

.button-repositorio {
    border-radius: 20px;
    background-color: #A9CDE7;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    color: #222222;
}

.section-premios {
    padding: 7rem 0;
    margin: 0 auto;
    width: 80;
    height: 100%;
    background: linear-gradient(135deg, #F7D9E3, #A9CDE7, #FAFAFA);
}

.h1-title-premios {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #222222;
}

.section-premios .card-premio {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.div-coluna-esquerda {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}

.div-coluna-direita {
    flex: 1;
}

.img-premios {
    width: 100%;
    height: auto;
    display: flex;
    border: none;
    border-radius: 20px;
    margin: 40px 40px;
}

.description8 {
    font-size: 1rem;
    margin: 40px 110px;
    max-width: 70ch;
    text-align: center;
    color: #222222;
}

.h1-title-explicacao {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #222222;
}

.div-rodape {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    margin: 30px auto;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A2B4C;
}

.botao-premio {
    display: flex;
    gap: 15px;
    margin: 0 50px;
}

.icones-contato {
    height: 100px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icon-footer {
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;
    object-fit: contain;
}

.h1-rodape {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 25px;
    text-align: center;
    color: #A9CDE7;
}

@media screen and (max-width: 1200px) {
    header {
        display: none;
}
    .div-cards-skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        gap: 40px;
    }

    .card-premio {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-premio {
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 20px;
        margin: 40px 40px;
    }

    .div-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .div-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 80px auto;
    }
    

    .div-trajetoria {
       display: none;
    }
}