footer {
    background-color: #F3EAEA; 
    overflow: hidden;
    height: 150px;
    margin: 100px 0 0 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    align-items: center;
}

#copyright {
    color:#6A4A42;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}