#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 91px);
    padding: 0 5%;
}

#div-home {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#banner {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img {
    width: 100%;
    height: auto;
    border-radius: 55px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;            
        padding-top: 0px;
        }

    #banner {
        display: none;
        }

    #div-home {
        width: 100%;
        margin-top: 28px;
        align-items: center;
        text-align: center;
        }
}